services:
  db:
    image: postgres:15-alpine
    container_name: uploader_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: uploader_backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      PORT: ${SERVER_PORT}
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
    # ports:
    #   - "${SERVER_PORT}:${SERVER_PORT}"
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: uploader_frontend
    depends_on:
      - backend
    # ports:
    #   - "${CLIENT_PORT}:80"
  
  nginx:
    image: nginx:stable-alpine
    container_name: uploader_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/app.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot-etc:/etc/letsencrypt
      - certbot-web:/var/www/certbot
    depends_on:
      - frontend
      - backend

  certbot:
    image: certbot/certbot
    container_name: certbot
    command: certonly --webroot -w /var/www/certbot -d imageuploader.duckdns.org --email lbfagioli@miuandes.cl --rsa-key-size 4096 --agree-tos --noninteractive
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-web:/var/www/certbot
    depends_on:
      nginx:
        condition: service_started

volumes:
  pgdata:
  certbot-etc:
  certbot-web: